@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de inventario de servicios nutresa</h1>
    <p>Somos el centro de servicios compartidos de Grupo Nutresa, brindamos servicios empresariales y conocimiento especializado, generamos oportunidades de intraemprendimiento y sinergias, impulsando la productividad, competitividad y sostenibilidad de nuestros clientes, apalancados en la innovación, la tecnología y nuestro talentoso equipo. Servir es nuestro propósito superior. Conoce más sobre nosotros viendo nuestro video institucional.
        <a href="https://www.serviciosnutresa.com/quiene-somos/">QUIENES SOMOS?</a>.
    </p>
</div>
