@{
    ViewData["Title"] = "Politicas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Sus datos estan protegidos bajo la politica de servicios nutresa.</p>
<a href="https://gruponutresa.com/politica-de-tratamiento-de-datos-personales/">Politicas</a>
