@model IEnumerable<Sitio_Web_Core_MVC_CRUD_EF.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h1>Areas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Crear Nueva Area</a>
</p>
<form asp-controller="Areas" asp-action="Index" method="get">
    <p>
        <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>
<table class="table table-bordered table-dark">
    <thead >
        <tr>
            <th>
                Nombre Area
            </th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdArea" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdArea" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdArea" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
